<!-- signin-page -->
<section class="clearfix job-bg user-page">
  <div class="container text-center">
    <div class="user-account-content">
      <div class="user-account">
        <h2>User Login</h2>
        <!-- form -->
        <form [formGroup]="signInForm" (ngSubmit)="login(signInForm.value)">
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              placeholder="Email"
              formControlName="email"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">Email is required</div>
              <div *ngIf="f.email.errors.email">
                Email must be a valid email address
              </div>
            </div>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              placeholder="Password"
              formControlName="password"
            />
            <div
              *ngIf="submitted && f.password.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.password.errors.required">Password is required</div>
              <div *ngIf="f.password.errors.minlength">
                Password must be at least 6 characters
              </div>
            </div>
          </div>
          <button type="submit" class="btn">Login</button>
        </form>
        <!-- form -->

        <!-- forgot-password -->
        <div class="user-option">
          <!-- <div class="checkbox pull-left">
            <label for="logged"
              ><input type="checkbox" name="logged" id="logged" /> Keep me
              logged in
            </label>
          </div> -->
          <div class="pull-left forgot-password">
            <a>Forgot password</a>
          </div>
        </div>
        <!-- forgot-password -->
      </div>
      <a class="btn-primary" routerLink="/sign-up">Create a New Account</a>
    </div>
    <!-- user-login -->
  </div>
  <!-- container -->
</section>
<!-- signin-page -->
