<header id="header" class="clearfix">
  <!-- navbar -->
  <nav class="navbar navbar-default navbar-expand-lg">
    <div class="container">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"
          ><i class="fa fa-align-justify"></i
        ></span>
      </button>
      <a class="navbar-brand" routerLink="/home"
        ><img class="img-fluid" src="assets/images/logo.png" alt="Logo"
      /></a>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="nav navbar-nav">
          <li><a routerLink="/home" routerLinkActive="active-link">Home</a></li>
          <li class="dropdown">
            <a
              routerLink="job-list"
              routerLinkActive="active-link"
              class="dropdown-toggle"
              >Job Search</a
            >
            <ul class="dropdown-menu">
              <li>
                <a routerLink="/jobs-list">All Jobs</a>
              </li>
              <li>
                <a routerLink="/jobs-by-location">Jobs By Location</a>
              </li>
              <li>
                <a class="dropdown-item" routerLink="/jobs-by-category"
                  >Jobs By Category</a
                >
              </li>
              <li>
                <a class="dropdown-item" routerLink="/jobs-by-company"
                  >Jobs By Comapany</a
                >
              </li>
            </ul>
          </li>
          <!-- <li><a href="details.html">Job Details</a></li> -->
          <li>
            <a
              (click)="resume()"
              *ngIf="currentUser?.user?.role !== 'Recruiter'"
              >Resume</a
            >
          </li>

          <li class="dropdown" *ngIf="currentUser">
            <a class="dropdown-toggle">My Account<span class="caret"></span></a>
            <!-- data-toggle="dropdown" in anchor tag -->
            <ul class="dropdown-menu">
              <!-- <li>
                <a
                  routerLink="/profile"
                  *ngIf="currentUser?.user?.role !== 'Recruiter'"
                  >Profile</a
                >
              </li> -->
              <li>
                <a
                  routerLink="/post-resume"
                  *ngIf="currentUser?.user?.role !== 'Recruiter'"
                  >Post Resume</a
                >
              </li>
              <li>
                <a
                  routerLink="/post-job"
                  *ngIf="currentUser?.user?.role === 'Recruiter'"
                  >Job Post</a
                >
              </li>
              <!-- <li><a routerLink="/resume-edit">Edit Resume</a></li> -->
              <li><a routerLink="/profile-update">Update Profile</a></li>
              <li><a (click)="logout()">Logout</a></li>
              <li><a routerLink="/delete-account">Delete Account</a></li>
            </ul>
          </li>
        </ul>
      </div>

      <!-- nav-right -->
      <div class="nav-right">
        <ul class="sign-in" *ngIf="!currentUser">
          <li><i class="fa fa-user"></i></li>
          <li><a routerLink="sign-in">Sign In</a></li>
          <li><a routerLink="sign-up">Register</a></li>
        </ul>
        <!-- sign-in -->

        <a
          (click)="postJob()"
          class="btn"
          *ngIf="currentUser ? currentUser?.user?.role === 'Recruiter' : true"
          >Post Your Job</a
        >
      </div>
      <!-- nav-right -->
    </div>
    <!-- container -->
  </nav>
  <!-- navbar -->
</header>
<!-- header -->
