.btn.btn-primary {
  background-color: #00a651;
}
.job-title {
  padding: 15px;
}
.job-title a {
  font-size: 14px;
  color: #a0a0a0;
}
.job-title a i {
  font-size: 20px;
  margin-right: 10px;
}
.accordion .panel-body ul li a.active{
  color : #0d8bcc;
  font-weight: bold;
}
.more {
  text-align: center;
}
.more a {
  color: #0d8bcc;
  border-bottom: 1px solid #0d8bcc;
}
