<section class="job-bg page job-list-page">
  <div class="container">
    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li>Job List</li>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title">All Jobs</h2>
    </div>

    <app-job-search (filterJobs)="filterJobs($event)"></app-job-search>
    <div class="category-info">
      <div class="row">
        <div class="col-lg-3 col-md-4">
          <div class="accordion">
            <div class="panel-group" id="tr-accordion">
              <div class="card panel-faq">
                <div class="card-header">
                  <button
                    data-toggle="collapse"
                    data-target="#accordion-one"
                    aria-expanded="true"
                    aria-controls="accordion-one"
                  >
                    Categories
                  </button>
                </div>
                <!-- card-header -->

                <div
                  id="accordion-one"
                  class="collapse show"
                  data-parent="#tr-accordion"
                >
                  <!-- panel-body -->
                  <div class="panel-body">
                    <h5>
                      <a><i class="fa fa-caret-down"></i> All Categories</a>
                    </h5>
                    <!-- <a
                      ><i class="icofont icofont-man-in-glasses"></i
                      >Engineer/Architects</a
                    > -->
                    <ul>
                      <li *ngFor="let category of categories">
                        <a>{{ category.category }} <span>(129)</span></a>
                      </li>
                    </ul>
                  </div>
                  <!-- panel-body -->
                </div>
              </div>
              <!-- card -->

              <!-- <div class="card panel-faq">
                <div class="card-header">
                  <button
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#accordion-two"
                    aria-expanded="true"
                    aria-controls="accordion-two"
                  >
                    Date Posted
                  </button>
                </div>

                <div
                  id="accordion-two"
                  class="collapse"
                  data-parent="#tr-accordion"
                >
                  <div class="panel-body">
                    <label for="today"
                      ><input type="checkbox" name="today" id="today" />
                      Today</label
                    >
                    <label for="7-days"
                      ><input type="checkbox" name="7-days" id="7-days" /> 7
                      days</label
                    >
                    <label for="30-days"
                      ><input type="checkbox" name="30-days" id="30-days" /> 30
                      days</label
                    >
                  </div>
                </div>
              </div> -->
              <!-- panel -->

              <!-- <div class="card  panel-faq">
                <div class="card-header">
                  <button
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#accordion-three"
                    aria-expanded="true"
                    aria-controls="accordion-three"
                  >
                    Salary Range
                  </button>
                </div>

                <div
                  id="accordion-three"
                  class="collapse"
                  data-parent="#tr-accordion"
                >
                  <div class="panel-body">
                    <div class="price-range">
                      <div class="price">
                        <span>$100 - <strong>$700</strong></span>
                        <div class="dropdown category-dropdown pull-right">
                          <a data-toggle="dropdown"
                            ><span class="change-text">USD</span
                            ><i class="fa fa-caret-square-o-down"></i
                          ></a>
                          <ul class="dropdown-menu category-change">
                            <li><a>USD</a></li>
                            <li><a>AUD</a></li>
                            <li><a>EUR</a></li>
                            <li><a>GBP</a></li>
                            <li><a>JPY</a></li>
                          </ul>
                        </div>
                        <input
                          type="text"
                          value=""
                          data-slider-min="0"
                          data-slider-max="700"
                          data-slider-step="5"
                          data-slider-value="[250,450]"
                          id="price"
                        /><br />
                      </div>
                    </div>
                  </div>
                </div>
              </div> -->
              <!-- panel -->

              <div class="card panel-faq">
                <div class="card-header">
                  <button
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#accordion-four"
                    aria-expanded="true"
                    aria-controls="accordion-four"
                  >
                    Employment Type
                  </button>
                </div>
                <!-- card-header -->

                <div
                  id="accordion-four"
                  class="collapse"
                  data-parent="#tr-accordion"
                >
                  <!-- panel-body -->
                  <div class="panel-body">
                    <label for="full-time"
                      ><input
                        type="checkbox"
                        value="Full Time"
                        name="full-time"
                        id="full-time"
                      />
                      Full Time</label
                    >
                    <label for="part-time"
                      ><input
                        type="checkbox"
                        value="Part Time"
                        name="part-time"
                        id="part-time"
                      />
                      Part Time</label
                    >
                    <label for="contract"
                      ><input
                        type="checkbox"
                        name="contract"
                        id="contract"
                        value="Contract"
                      />
                      Contract</label
                    >
                    <label for="intern"
                      ><input
                        type="checkbox"
                        name="intern"
                        id="intern"
                        value="Freelance"
                      />
                      Freelance</label
                    >
                  </div>
                  <!-- panel-body -->
                </div>
              </div>
              <!-- panel -->

              <div class="card panel-faq">
                <div class="card-header">
                  <button
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#accordion-five"
                    aria-expanded="true"
                    aria-controls="accordion-five"
                  >
                    Experience Level
                  </button>
                </div>
                <!-- card-header -->

                <div
                  id="accordion-five"
                  class="collapse"
                  data-parent="#tr-accordion"
                >
                  <!-- panel-body -->
                  <div class="panel-body">
                    <label for="entry-level"
                      ><input
                        type="checkbox"
                        name="entry-level"
                        id="entry-level"
                        value="Entry Level"
                        [(ngModel)]="jobType"
                      />
                      Entry Level</label
                    >
                    <label for="mid-level"
                      ><input
                        type="checkbox"
                        name="mid-level"
                        id="mid-level"
                        value="Mid Level"
                        [(ngModel)]="jobType"
                      />
                      Mid Level</label
                    >
                    <label for="mid-senior"
                      ><input
                        type="checkbox"
                        name="mid-senior"
                        id="mid-senior"
                        value="Mid-Senior Level"
                        [(ngModel)]="jobType"
                      />
                      Mid-Senior Level</label
                    >
                    <label for="top-level"
                      ><input
                        type="checkbox"
                        name="top-level"
                        id="top-level"
                        value="Top Level"
                        [(ngModel)]="jobType"
                      />
                      Top Level</label
                    >
                  </div>
                  <!-- panel-body -->
                </div>
              </div>
              <!-- panel -->

              <div class="card panel-faq">
                <div class="card-header">
                  <button
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#accordion-six"
                    aria-expanded="true"
                    aria-controls="accordion-six"
                  >
                    Company
                  </button>
                </div>
                <!-- card-header -->

                <div
                  id="accordion-six"
                  class="collapse"
                  data-parent="#tr-accordion"
                >
                  <!-- panel-body -->
                  <div class="panel-body">
                    <input
                      type="text"
                      placeholder="Search Company"
                      class="form-control"
                    />
                    <div *ngFor="let company of companies">
                      <input
                        type="checkbox"
                        [name]="company.companyName"
                        [value]="company.companyName"
                      />
                      {{ company.companyName }}<br />
                    </div>
                  </div>
                  <!-- panel-body -->
                </div>
              </div>
              <!-- panel -->

              <div class="card panel-faq">
                <div class="card-header">
                  <button
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#accordion-seven"
                    aria-expanded="true"
                    aria-controls="accordion-seven"
                  >
                    Location
                  </button>
                </div>
                <!-- card-header -->

                <div
                  id="accordion-seven"
                  class="collapse"
                  data-parent="#tr-accordion"
                >
                  <!-- panel-body -->
                  <div class="panel-body">
                    <input
                      type="text"
                      placeholder="Search Location"
                      class="form-control"
                    />
                    <label
                      for="{{ i }}"
                      *ngFor="let location of locations; let i = index"
                      ><input
                        type="checkbox"
                        name="{{ i }}"
                        id="{{ i }}"
                        value="{{ location.state }}"
                        [(ngModel)]="state"
                      />
                      {{ location.state }}, {{ location.country }}</label
                    >
                    <!-- <label for="kingdom"
                      ><input type="checkbox" name="kingdom" id="kingdom" />
                      United Kingdom</label
                    >
                    <label for="states"
                      ><input type="checkbox" name="states" id="states" />
                      United States</label
                    >
                    <label for="columbia"
                      ><input type="checkbox" name="columbia" id="columbia" />
                      British Columbia</label
                    >
                    <label for="australia"
                      ><input type="checkbox" name="australia" id="australia" />
                      Australia</label
                    >
                    <label for="germany"
                      ><input type="checkbox" name="germany" id="germany" />
                      Germany</label
                    >
                    <div class="see-more">
                      <button type="button" class="show-more three">
                        <i class="fa fa-plus-square-o" aria-hidden="true"></i
                        >See More
                      </button>
                      <div class="more-category three">
                        <label for="belgium"
                          ><input
                            type="checkbox"
                            name="belgium"
                            id="belgium"
                          />Belgium</label
                        >
                        <label for="brazil"
                          ><input
                            type="checkbox"
                            name="brazil"
                            id="brazil"
                          />Brazil</label
                        >
                        <label for="denmark"
                          ><input
                            type="checkbox"
                            name="denmark"
                            id="denmark"
                          />Denmark</label
                        >
                        <label for="indonesia"
                          ><input
                            type="checkbox"
                            name="indonesia"
                            id="indonesia"
                          />Indonesia</label
                        >
                      </div>
                    </div> -->
                  </div>
                  <!-- panel-body -->
                </div>
              </div>
              <!-- panel -->
            </div>
            <!-- panel-group -->
          </div>
        </div>
        <!-- accordion-->

        <!-- recommended-ads -->
        <div class="col-md-8 col-lg-7">
          <div class="section job-list-item">
            <div class="featured-top clearfix">
              <h4>Showing 1-{{ limit }} of {{ totalRecords | number }} jobs</h4>
              <!-- <div class="dropdown pull-right">
                <div class="dropdown category-dropdown">
                  <h5>Sort by:</h5>
                  <a data-toggle="dropdown"
                    ><span class="change-text">Most Relevant</span
                    ><i class="fa fa-caret-square-o-down"></i
                  ></a>
                  <ul class="dropdown-menu category-change">
                    <li><a>Most Relevant</a></li>
                    <li><a>Most Popular</a></li>
                  </ul>
                </div>
              </div> -->
            </div>
            <!-- featured-top -->

            <div
              class="job-ad-item"
              *ngFor="
                let job of jobs
                  | paginate
                    : {
                        itemsPerPage: limit,
                        currentPage: p,
                        totalItems: totalRecords
                      }
              "
            >
              <div class="item-info">
                <div class="item-image-box">
                  <div class="item-image">
                    <a routerLink="/job-details/{{ job.id }}"
                      ><img
                        src="assets/images/job/1.png"
                        alt="Image"
                        class="img-fluid"
                    /></a>
                  </div>
                  <!-- item-image -->
                </div>

                <div class="ad-info">
                  <span
                    ><a routerLink="/job-details/{{ job.id }}" class="title">{{
                      job.category | titlecase
                    }}</a>
                    @ <a>{{ job.companyName | titlecase }}</a></span
                  >
                  <div class="ad-meta">
                    <ul>
                      <li>
                        <a
                          ><i class="fa fa-map-marker" aria-hidden="true"></i
                          >{{ job.state }}, {{ job.country }}
                        </a>
                      </li>
                      <li>
                        <a
                          ><i class="fa fa-clock-o" aria-hidden="true"></i
                          >{{ job.jobType }}</a
                        >
                      </li>
                      <li>
                        <a
                          ><i class="fa fa-money" aria-hidden="true"></i
                          >{{ job.minSalary | currency: "USD" }} -
                          {{ job.maxSalary | currency: "USD" }}
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- ad-meta -->
                </div>
                <!-- ad-info -->
              </div>
              <!-- item-info -->
            </div>
            <!-- job-ad-item -->

            <div class="ad-section text-center">
              <a
                ><img
                  src="assets/images/ads/3.jpg"
                  alt="Image"
                  class="img-fluid"
              /></a>
            </div>
            <!-- ad-section -->

            <!-- pagination  -->
            <pagination-controls
              (pageChange)="pageChanged($event)"
              previousLabel="Previous"
              nextLabel="Next"
            ></pagination-controls>
            <!-- pagination  -->
          </div>
        </div>
        <!-- recommended-ads -->

        <div class="col-md-2 d-none d-lg-block">
          <div class="advertisement text-center">
            <a><img src="assets/images/ads/1.jpg" alt="" class="img-fluid"/></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- container -->
</section>
<!-- main -->

<section id="something-sell" class="clearfix parallax-section">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="title">Add your resume and let your next job find you.</h2>
        <h4>Post your Resume for free on <a>Jobs.com</a></h4>
        <a routerLink="/post-resume" class="btn btn-primary">Add Your Resume</a>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- contaioner -->
</section>
<!-- something-sell -->
