<section class="job-bg page job-list-page">
  <div class="container" *ngIf="jobs != undefined; else loaderBlock">
    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li>Job List</li>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title">All Jobs</h2>
    </div>

    <div class="banner-form banner-form-full job-list-form">
      <form
        [formGroup]="jobSearch"
        class="clearfix"
        (ngSubmit)="filterJobs(jobSearch.value)"
      >
        <!-- category-change -->
        <div class="form-group">
          <select
            class="form-control category-dropdown"
            formControlName="category"
          >
            <option value="" selected>Job Category</option>
            <option
              *ngFor="let category of categories"
              value="{{ category.category }}"
              >{{ category.category }}</option
            >
          </select>
        </div>

        <div class="form-group">
          <select class="form-control language-dropdown" formControlName="city">
            <option value="" selected>Job Location</option>
            <option
              *ngFor="let location of locations"
              value="{{ location.city }}"
              >{{ location.city }}</option
            >
          </select>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Type your key words"
            formControlName="keywords"
          />
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-primary" value="Search">
            Search
          </button>
          <!-- <button type="reset" class="btn btn-primary" value="Refresh">
            Refresh
          </button> -->
        </div>
      </form>
    </div>
    <!-- banner-form -->
    <div class="category-info">
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="accordion">
            <div class="panel-group" id="tr-accordion">
              <div class="card panel-faq">
                <div class="card-header">
                  <button
                    data-toggle="collapse"
                    data-target="#accordion-one"
                    aria-expanded="true"
                    aria-controls="accordion-one"
                  >
                    Categories
                  </button>
                </div>
                <!-- card-header -->

                <div
                  id="accordion-one"
                  class="collapse show"
                  data-parent="#tr-accordion"
                >
                  <!-- panel-body -->
                  <div class="panel-body">
                    <h5>
                      <a (click)="allCategories()"
                        ><i class="fa fa-caret-down"></i> All Categories</a
                      >
                    </h5>
                    <ul>
                      <li *ngFor="let category of categories; let i = index">
                        <a
                          (click)="selectCategory(category, i)"
                          [ngClass]="{ active: selectedItem === i }"
                          >{{ category.category }}</a
                        >
                      </li>
                    </ul>
                  </div>
                  <!-- panel-body -->
                </div>
              </div>
              <!-- card -->

              <div class="card panel-faq">
                <div class="card-header">
                  <button
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#accordion-four"
                    aria-expanded="true"
                    aria-controls="accordion-four"
                  >
                    Employment Type
                  </button>
                </div>
                <!-- card-header -->

                <div
                  id="accordion-four"
                  class="collapse"
                  data-parent="#tr-accordion"
                >
                  <!-- panel-body -->
                  <div class="panel-body">
                    <input
                      type="checkbox"
                      value="Full Time"
                      name="full-time"
                      (change)="selectJobType($event, 'full-time')"
                      id="full-time"
                    />
                    Full Time<br />
                    <input
                      type="checkbox"
                      value="Part Time"
                      name="part-time"
                      (change)="selectJobType($event, 'part-time')"
                      id="part-time"
                    />
                    Part Time<br />
                    <input
                      type="checkbox"
                      name="contract"
                      id="contract"
                      (change)="selectJobType($event, 'contract')"
                      value="Contract"
                    />
                    Contract<br />
                    <input
                      type="checkbox"
                      name="intern"
                      id="intern"
                      (change)="selectJobType($event, 'freelance')"
                      value="Freelance"
                    />
                    Freelance<br />
                  </div>
                  <!-- panel-body -->
                </div>
              </div>
              <!-- panel -->

              <div class="card panel-faq">
                <div class="card-header">
                  <button
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#accordion-five"
                    aria-expanded="true"
                    aria-controls="accordion-five"
                  >
                    Experience Level
                  </button>
                </div>
                <!-- card-header -->

                <div
                  id="accordion-five"
                  class="collapse"
                  data-parent="#tr-accordion"
                >
                  <!-- panel-body -->
                  <div class="panel-body">
                    <input
                      type="checkbox"
                      name="entry-level"
                      id="entry-level"
                      value="Entry Level"
                      (change)="selectExp($event, 'Entry Level')"
                    />
                    Entry Level<br />
                    <input
                      type="checkbox"
                      name="mid-level"
                      id="mid-level"
                      value="Mid Level"
                      (change)="selectExp($event, 'Mid Level')"
                    />
                    Mid Level<br />
                    <input
                      type="checkbox"
                      name="mid-senior"
                      id="mid-senior"
                      value="Mid-Senior Level"
                      (change)="selectExp($event, 'Mid-Senior Level')"
                    />
                    Mid-Senior Level<br />
                    <input
                      type="checkbox"
                      name="top-level"
                      id="top-level"
                      value="Top Level"
                      (change)="selectExp($event, 'Top Level')"
                    />
                    Top Level<br />
                  </div>
                  <!-- panel-body -->
                </div>
              </div>
              <!-- panel -->

              <div class="card panel-faq">
                <div class="card-header">
                  <button
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#accordion-six"
                    aria-expanded="true"
                    aria-controls="accordion-six"
                  >
                    Company
                  </button>
                </div>
                <!-- card-header -->

                <div
                  id="accordion-six"
                  class="collapse"
                  data-parent="#tr-accordion"
                >
                  <!-- panel-body -->
                  <div class="panel-body">
                    <input
                      type="text"
                      placeholder="Search Company"
                      class="form-control"
                    />
                    <div *ngFor="let company of companies">
                      <input
                        type="checkbox"
                        [name]="company.companyName"
                        [value]="company.companyName"
                        (change)="selectCompany($event, company)"
                      />
                      {{ company.companyName }}<br />
                    </div>
                  </div>
                  <!-- panel-body -->
                </div>
              </div>
              <!-- panel -->

              <div class="card panel-faq">
                <div class="card-header">
                  <button
                    class="collapsed"
                    data-toggle="collapse"
                    data-target="#accordion-seven"
                    aria-expanded="true"
                    aria-controls="accordion-seven"
                  >
                    Location
                  </button>
                </div>
                <!-- card-header -->

                <div
                  id="accordion-seven"
                  class="collapse"
                  data-parent="#tr-accordion"
                >
                  <!-- panel-body -->
                  <div class="panel-body">
                    <input
                      type="text"
                      placeholder="Search Location"
                      class="form-control"
                    />
                    <div *ngFor="let location of locations">
                      <input
                        type="checkbox"
                        [name]="location.city"
                        [value]="location.city"
                        (change)="selectLocation($event, location)"
                      />
                      {{ location.city }},{{ location.state }}<br />
                    </div>
                  </div>
                  <!-- panel-body -->
                </div>
              </div>
              <!-- panel -->
            </div>
            <!-- panel-group -->
          </div>
        </div>
        <!-- accordion-->

        <!-- recommended-ads -->
        <div class="col-md-7 col-lg-7">
          <div
            class="section job-list-item"
            *ngIf="totalRecords > 0; else noRecords"
          >
            <div class="featured-top clearfix">
              <h4>Showing 1-{{ limit }} of {{ totalRecords | number }} jobs</h4>
              <!-- <div class="dropdown pull-right">
                <div class="dropdown category-dropdown">
                  <h5>Sort by:</h5>
                  <a data-toggle="dropdown"
                    ><span class="change-text">Most Relevant</span
                    ><i class="fa fa-caret-square-o-down"></i
                  ></a>
                  <ul class="dropdown-menu category-change">
                    <li><a>Most Relevant</a></li>
                    <li><a>Most Popular</a></li>
                  </ul>
                </div>
              </div> -->
            </div>
            <!-- featured-top -->

            <div
              class="job-ad-item"
              *ngFor="
                let job of jobs
                  | paginate
                    : {
                        itemsPerPage: limit,
                        currentPage: p,
                        totalItems: totalRecords
                      }
              "
            >
              <div class="item-info">
                <!-- <div class="item-image-box">
                  <div class="item-image">
                    <a (click)="jobDetailView(job.id)"><img src="assets/images/job/default.png" alt="Image"
                        class="img-fluid" /></a>
                  </div>
                </div> -->
                <!-- item-image -->

                <div class="ad-info">
                  <span
                    ><a
                      routerLink="/job-details/{{ job.category | slugify }}/{{
                        job.companyName | slugify
                      }}/{{ job.state | slugify }}/{{ job.city | slugify }}/{{
                        job.id
                      }}"
                      class="title"
                      >{{ job.category }}</a
                    >
                    @ <a>{{ job.companyName | titlecase }}</a></span
                  >
                  <div class="ad-meta">
                    <ul>
                      <li>
                        <a
                          ><i class="fa fa-map-marker" aria-hidden="true"></i
                          >{{ job.city }},{{ job.state }}
                        </a>
                      </li>
                      <li>
                        <a
                          ><i class="fa fa-clock-o" aria-hidden="true"></i
                          >{{ job.jobType | titlecase }}</a
                        >
                      </li>
                      <li *ngIf="job.minSalary != 0 || job.maxSalary != 0">
                        <a
                          ><i class="fa fa-money" aria-hidden="true"></i
                          >{{ job.minSalary | currency: "INR":"symbol":"1.0" }}
                          -
                          {{ job.maxSalary | currency: "INR":"symbol":"1.0" }}
                        </a>
                      </li>
                    </ul>
                  </div>
                  <!-- ad-meta -->
                </div>
                <!-- ad-info -->
              </div>
              <div class="job-title">
                <a
                  ><i class="fa fa-hand-o-right" aria-hidden="true"></i>
                  {{ job.title }}</a
                >
              </div>
              <!-- item-info -->
            </div>
            <!-- job-ad-item -->

            <div class="ad-section text-center">
              <app-google-ad></app-google-ad>
            </div>
            <!-- ad-section -->

            <!-- pagination  -->
            <pagination-controls
              (pageChange)="pageChanged($event)"
              previousLabel="Previous"
              nextLabel="Next"
            >
            </pagination-controls>
            <!-- pagination  -->
          </div>
          <ng-template #noRecords>
            <div class="section job-list-item text-center">
              <h5>No Jobs Found</h5>
            </div>
          </ng-template>
        </div>
        <!-- recommended-ads -->
        <div class="col-md-2 d-none d-lg-block">
          <div class="advertisement text-center">
            <app-google-ad></app-google-ad>
          </div>
        </div>
      </div>
    </div>
    <!-- recommended-ads -->
    <div class="advertisement text-center">
      <app-google-ad></app-google-ad>
    </div>
  </div>
  <!-- container -->
  <ng-template #loaderBlock>
    <app-loader></app-loader>
  </ng-template>
</section>
<!-- main -->

<section
  id="something-sell"
  class="clearfix parallax-section"
  *ngIf="currentUser && currentUser?.user?.role === 'Student'"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="title">Add your resume and let your next job find you.</h2>
        <h4>Post your Resume for free on <a>quikresults.com</a></h4>
        <a routerLink="/post-resume" class="btn btn-primary">Add Your Resume</a>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- contaioner -->
</section>
<!-- something-sell -->
