<section class=" job-bg ad-details-page">
  <div class="container">
    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li>Post Resume</li>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title">Post My Resume</h2>
    </div>
    <!-- banner -->

    <div class="job-postdetails post-resume">
      <div class="row">
        <div class="col-lg-8 clearfix">
          <form [formGroup]="resumeForm" (ngSubmit)="postResume()">
            <fieldset>
              <div class="section express-yourself">
                <!-- [formGroup]="resumeForm.get('basicInfo')" -->
                <h4>Express Yourself</h4>
                <div class="row form-group">
                  <label class="col-sm-4 label-title">Full Name</label>
                  <div class="col-sm-8">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="ex Jhon Doe"
                      formControlName="fullName"
                    />
                  </div>
                </div>
                <div class="row form-group additional-information">
                  <label class="col-sm-4 label-title"
                    >Additional Information</label
                  >
                  <div class="col-sm-8">
                    <textarea
                      class="form-control"
                      formControlName="addInfo"
                      placeholder="Address: 123 West 12th Street, Suite 456 New York, NY 123456\n Phone: +012 345 678 910 \n Email: itsme@surzilegeek.com*"
                    ></textarea>
                  </div>
                </div>
                <!-- <div class="row form-group photos-resume">
                  <label class="col-sm-4 label-title"
                    >Photos for your Resume</label
                  >
                  <div class="col-sm-8 ">
                    <label class="upload-image left" for="upload-image-one">
                      <input
                        type="file"
                        id="upload-image-one"
                        formControlName="image"
                      />
                      Type: JPG, PNG Size: 3.5 x 4.5 cm
                    </label>
                    <label class="upload-image" for="upload-image-two">
                      <input
                        type="file"
                        id="upload-image-two"
                        formControlName="image"
                      />
                      Upload Photo
                    </label>
                  </div>
                </div> -->
              </div>
              <!-- postdetails -->

              <div class="section career-objective">
                <h4>Career Objective</h4>
                <div class="form-group">
                  <textarea
                    class="form-control"
                    placeholder="Write few lines about your career objective"
                    rows="8"
                    formControlName="careerObjective"
                  ></textarea>
                </div>
                <span>5000 characters left</span>
              </div>
              <!-- career-objective -->

              <div class="section" formArrayName="workHistory">
                <h4>Work History</h4>
                <div
                  *ngFor="
                    let work of resumeForm['controls'].workHistory['controls'];
                    let workIndex = index
                  "
                >
                  <div [formGroupName]="workIndex">
                    <div class="row form-group">
                      <label class="col-sm-3 label-title">Compnay Name</label>
                      <div class="col-sm-9">
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          placeholder="Name"
                          formControlName="companyName"
                        />
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-sm-3 label-title">Designation</label>
                      <div class="col-sm-9">
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          placeholder="Human Resource Manager"
                          formControlName="designation"
                        />
                      </div>
                    </div>
                    <div class="row form-group time-period">
                      <label class="col-sm-3 label-title">Time Period</label>
                      <div class="col-sm-9">
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          placeholder="ex, 2012"
                          formControlName="joiningDate"
                        /><span>-</span>
                        <input
                          type="text"
                          name="name"
                          class="form-control pull-right"
                          placeholder="ex,2016"
                          formControlName="relievingDate"
                        />
                      </div>
                    </div>
                    <div class="row form-group job-description">
                      <label class="col-sm-3 label-title"
                        >Job Description</label
                      >
                      <div class="col-sm-9">
                        <textarea
                          class="form-control"
                          placeholder=""
                          rows="8"
                          formControlName="jobDescription"
                        ></textarea>
                      </div>
                    </div>
                    <div class="buttons pull-right">
                      <a class="btn" (click)="addWorkHistory()"
                        >Add New Exprience</a
                      >
                      <a
                        class="btn delete"
                        (click)="removeWorkHistory(workIndex)"
                        >Delete</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- work-history -->

              <div
                class="section education-background"
                formArrayName="educationDetails"
              >
                <h4>Education Background</h4>
                <div
                  *ngFor="
                    let education of resumeForm['controls'].educationDetails
                      ['controls'];
                    let educationIndex = index
                  "
                >
                  <div [formGroupName]="educationIndex">
                    <div class="row form-group">
                      <label class="col-sm-3 label-title">Institute Name</label>
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="ropbox"
                          formControlName="instituteName"
                        />
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-sm-3 label-title">Degree</label>
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="Human Resource Manager"
                          formControlName="qualification"
                        />
                      </div>
                    </div>
                    <div class="row form-group time-period">
                      <label class="col-sm-3 label-title">Time Period</label>
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="ex,2010"
                          formControlName="startingDate"
                        /><span>-</span>
                        <input
                          type="text"
                          class="form-control pull-right"
                          placeholder="ex,2012"
                          formControlName="endingDate"
                        />
                      </div>
                    </div>
                    <div class="row form-group">
                      <label class="col-sm-3 label-title">Result</label>
                      <div class="col-sm-9">
                        <input
                          type="text"
                          class="form-control"
                          placeholder="ex,A grade or 60% or 550"
                          formControlName="result"
                        />
                      </div>
                    </div>
                    <div class="row form-group job-description">
                      <label class="col-sm-3 label-title">Description</label>
                      <div class="col-sm-9">
                        <textarea
                          class="form-control"
                          placeholder=""
                          rows="8"
                          formControlName="description"
                        ></textarea>
                      </div>
                    </div>
                    <div class="buttons pull-right">
                      <a class="btn" (click)="addEducation()"
                        >Add New Education</a
                      >
                      <a
                        class="btn delete"
                        *ngIf="educationIndex !== 0"
                        (click)="removeEducation(educationIndex)"
                        >Delete</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- work-history -->

              <div class="section special-qualification">
                <h4>Special Qualification</h4>
                <div class="form-group item-description">
                  <!-- <textarea
                    class="form-control"
                    placeholder="Write few lines about your special qualification"
                    rows="8"
                    formControlName="specialQualification"
                  ></textarea> -->
                  <ckeditor
                    formControlName="specialQualification"
                    required
                    [config]="ckeConfig"
                    debounce="500"
                  >
                  </ckeditor>
                </div>
              </div>
              <!-- special-qualification -->

              <div
                class="section language-proficiency"
                formArrayName="languageProficiency"
              >
                <h4>Language Proficiency:</h4>
                <div
                  *ngFor="
                    let language of resumeForm['controls'].languageProficiency
                      ['controls'];
                    let languageIndex = index
                  "
                >
                  <div [formGroupName]="languageIndex">
                    <div class="row form-group">
                      <label class="col-sm-3 label-title">Language Name</label>
                      <div class="col-sm-9">
                        <input
                          type="text"
                          name="name"
                          class="form-control"
                          placeholder="English"
                          formControlName="name"
                        />
                      </div>
                    </div>
                    <div class="row form-group rating">
                      <label class="col-sm-3 label-title">Rating</label>
                      <div class="col-sm-9">
                        <div class="rating-star">
                          <div class="rating">
                            <input
                              type="radio"
                              id="star1{{languageIndex}}"
                              value="1"
                              formControlName="rating"
                            /><label class="full" for="star1{{languageIndex}}"></label>

                            <input
                              type="radio"
                              id="star2{{languageIndex}}"
                              value="2"
                              formControlName="rating"
                            /><label class="full" for="star2{{languageIndex}}"></label>

                            <input
                              type="radio"
                              id="star3{{languageIndex}}"
                              formControlName="rating"
                            /><label class="full" for="star3{{languageIndex}}"></label>

                            <input
                              type="radio"
                              id="star4{{languageIndex}}"
                              value="4"
                              formControlName="rating"
                            /><label class="full" for="star4{{languageIndex}}"></label>

                            <input
                              type="radio"
                              id="star5{{languageIndex}}"
                              value="5"
                              formControlName="rating"
                            /><label class="full" for="star5{{languageIndex}}"></label>
                          </div>
                        </div>
                        <!-- rating-star -->
                      </div>
                    </div>
                    <div class="buttons pull-right">
                      <a class="btn" (click)="addLanguage()"
                        >Add New Language</a
                      >
                      <a
                        *ngIf="languageIndex !== 0"
                        class="btn delete"
                        (click)="removeLanguage(languageIndex)"
                        >Delete</a
                      >
                    </div>
                  </div>
                </div>
              </div>
              <!-- language-proficiency -->

              <div class="section company-information">
                <!-- [formGroup]="resumeForm.get('personalDetails')" -->
                <h4>Personal Deatils</h4>
                <!-- <div class="row form-group">
                  <label class="col-sm-3 label-title">Full Name</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Jhon Doe"
                      formControlName="fullName"
                    />
                  </div>
                </div> -->
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Father's Name</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Robert Doe"
                      formControlName="fatherName"
                    />
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Mother's Name</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Ismatic Roderos Doe"
                      formControlName="motherName"
                    />
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Date of Birth</label>
                  <div class="col-sm-9">
                    <input
                      type="date"
                      name="name"
                      class="form-control"
                      placeholder="26/01/1982"
                      formControlName="dob"
                    />
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Nationality</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Canadian"
                      formControlName="nationality"
                    />
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Gender</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Male"
                      formControlName="gender"
                    />
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Address</label>
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="121 King Street, Melbourne Victoria, 1200 USA"
                      formControlName="address"
                    />
                  </div>
                </div>
                <!-- <div class="buttons pull-right">
                  <a class="btn">Add New Feild</a>
                </div> -->
              </div>
              <!-- section -->

              <div class="section special-qualification">
                <h4>Declaration</h4>
                <div class="form-group item-description">
                  <textarea
                    class="form-control"
                    placeholder=""
                    rows="8"
                    formControlName="declaration"
                  ></textarea>
                </div>
              </div>
              <!-- special-qualification -->
            </fieldset>
            <button type="submit" class="btn btn-primary">
              Post Your Resume
            </button>
          </form>
          <!-- form -->
          <!-- <div class="buttons">
            <a class="btn">Update Profile</a>
            <a class="btn cancle">Cancle</a>
          </div> -->
        </div>

        <!-- quick-rules -->
        <div class="col-lg-4">
          <div class="section quick-rules">
              <app-google-ad></app-google-ad>

            <!-- <h4>Quick rules</h4>
            <p class="lead">
              Posting an ad on <a>quikresults.com</a> is free! However, all ads must
              follow our rules:
            </p>

            <ul>
              <li>Make sure you post in the correct category.</li>
              <li>
                Do not post the same ad more than once or repost an ad within 48
                hours.
              </li>
              <li>Do not upload pictures with watermarks.</li>
              <li>
                Do not post ads containing multiple items unless it's a package
                deal.
              </li>
              <li>
                Do not put your email or phone numbers in the title or
                description.
              </li>
              <li>Make sure you post in the correct category.</li>
              <li>
                Do not post the same ad more than once or repost an ad within 48
                hours.
              </li>
              <li>Do not upload pictures with watermarks.</li>
              <li>
                Do not post ads containing multiple items unless it's a package
                deal.
              </li>
            </ul> -->
          </div>
        </div>
        <!-- quick-rules -->
      </div>
      <!-- photos-ad -->
    </div>
  </div>
  <!-- container -->
</section>
<!-- main -->
