.tablepress thead th {
  background-color: #ebf0f1;
}

.jobs {
  padding: 0px 10px 10px 10px;
}
.updates {
  padding: 10px;
}

.side img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.side tr a {
  display: block;
  font-weight: 600;
  text-align: left;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
}

.table-bordered td,
.table-bordered th {
  font-size: 15px;
}
.govt-jobs {
  margin-left: 70px;
  margin-right: 70px;
}
.jobs-by-category {
  padding: 20px;
}
.notification  {
  border-bottom: 1px solid #0056b3;
  color: #0056b3 !important;
}
.govt-section {
  color: #3a3a3a;
}
