<section class="govt-section govtjobs-bg ">
  <div class="govt-jobs">
    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li>Jobs By Companies</li>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title">
        Browse Jobs by Companies
      </h2>
    </div>
    <div class="row">
      <div class="col-md-8 jobs">
        <div class="card">
          <div class="jobs-by-category">
            <h3>Latest Govt Jobs 2019: Over 552000 Vacancies Open</h3>
            <p>
              In India all wants Govt Job. You also? Is it true? yes! But how do
              you get that Govt Job? Always get alert of Govt Jobs opening.
            </p>

            <p>
              Here, we update daily this page for latest govt jobs opening in
              all over India. You can search latest Govt jobs 2019 by
              qualification, state, designation and even in departments.
            </p>

            <p>Here are the list of Government Jobs 2019 Opening today.</p>
            <div class="table-responsive tablepress">
              <h5>
                <strong
                  ><a id="railway"></a>Railway Jobs 2019 – 2233 Vacancies<br />
                </strong>
              </h5>
              <table
                summary="This table shows how to create responsive tables using Bootstrap's default functionality"
                class="table table-bordered table-hover"
              >
                <thead>
                  <tr>
                    <th>Organization</th>
                    <th>Post Name</th>
                    <th>Qualification</th>
                    <th>Deadline</th>
                    <th>Notfication</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let govtJob of govtJobs">
                    <td>{{ govtJob.organisation }}</td>
                    <td>{{ govtJob.postName }}</td>
                    <td>{{ govtJob.qualification }}</td>
                    <td>{{ govtJob.deadline }}</td>
                    <td>
                      <a
                        class="notification"
                        href="{{ serverUrl + govtJob.notificationFile }}"
                        target="blank"
                        download
                        >Download Notification</a
                      >
                    </td>
                  </tr>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--end of .table-responsive-->
          </div>
          <div class="jobs-by-category">
            <div class="table-responsive tablepress">
              <h5>
                <strong
                  ><a id="bank"></a>Bank/Financial Department Jobs 2019 – 14175
                  Vacancies<br />
                </strong>
              </h5>
              <table
                summary="This table shows how to create responsive tables using Bootstrap's default functionality"
                class="table table-bordered table-hover"
              >
                <thead>
                  <tr>
                    <th>Organization</th>
                    <th>Post Name</th>
                    <th>Qualification</th>
                    <th>Deadline</th>
                    <th>Notfication</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                  <tr>
                    <td>IRCTC Recruitment 2019</td>
                    <td>74 Supervisor (Hospitality) (Walk-in)</td>
                    <td>B.Sc</td>
                    <td>11, 13 & 15-06-19</td>
                    <td>
                      <a class="notification">Download Notification</a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!--end of .table-responsive-->
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <div class="updates">
            <h3>Latest Upadtes</h3>

            <table id="tablehomenew" class="table table-bordered side">
              <tbody>
                <tr style="height: 24px;">
                  <td style="width: 14%;height: 24px;">
                    <a
                      href="https://govtjobguru.in/jobs/opsc-judicial-service-examination-2018/"
                    >
                      <img
                        width="108"
                        height="98"
                        src="https://171036-495725-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/09/OPSC.jpg"
                        class=" wp-post-image"
                        alt=""
                        itemprop="image"
                    /></a>
                  </td>
                  <td style="width: 85%;height: 24px;text-align: left;">
                    <a
                      href="https://govtjobguru.in/heavy-water-board/232448/"
                      title="Heavy Water Board UDC Written Test Result 2019 – Download Here"
                      >Heavy Water Board UDC Written Test Result 2019 – Download
                      Here</a
                    >
                  </td>
                </tr>
                <tr style="height: 24px;">
                  <td style="width: 14%;height: 24px;">
                    <a
                      href="https://govtjobguru.in/jobs/opsc-judicial-service-examination-2018/"
                    >
                      <img
                        width="108"
                        height="98"
                        src="https://171036-495725-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/09/OPSC.jpg"
                        class=" wp-post-image"
                        alt=""
                        itemprop="image"
                    /></a>
                  </td>
                  <td style="width: 85%;height: 24px;text-align: left;">
                    <a
                      href="https://govtjobguru.in/heavy-water-board/232448/"
                      title="Heavy Water Board UDC Written Test Result 2019 – Download Here"
                      >Heavy Water Board UDC Written Test Result 2019 – Download
                      Here</a
                    >
                  </td>
                </tr>
                <tr style="height: 24px;">
                  <td style="width: 14%;height: 24px;">
                    <a
                      href="https://govtjobguru.in/jobs/opsc-judicial-service-examination-2018/"
                    >
                      <img
                        width="108"
                        height="98"
                        src="https://171036-495725-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/09/OPSC.jpg"
                        class=" wp-post-image"
                        alt=""
                        itemprop="image"
                    /></a>
                  </td>
                  <td style="width: 85%;height: 24px;text-align: left;">
                    <a
                      href="https://govtjobguru.in/heavy-water-board/232448/"
                      title="Heavy Water Board UDC Written Test Result 2019 – Download Here"
                      >Heavy Water Board UDC Written Test Result 2019 – Download
                      Here</a
                    >
                  </td>
                </tr>
                <tr style="height: 24px;">
                  <td style="width: 14%;height: 24px;">
                    <a
                      href="https://govtjobguru.in/jobs/opsc-judicial-service-examination-2018/"
                    >
                      <img
                        width="108"
                        height="98"
                        src="https://171036-495725-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/09/OPSC.jpg"
                        class="wp-post-image"
                        alt=""
                        itemprop="image"
                    /></a>
                  </td>
                  <td style="width: 85%;height: 24px;text-align: left;">
                    <a
                      href="https://govtjobguru.in/heavy-water-board/232448/"
                      title="Heavy Water Board UDC Written Test Result 2019 – Download Here"
                      >Heavy Water Board UDC Written Test Result 2019 – Download
                      Here</a
                    >
                  </td>
                </tr>
                <tr style="height: 24px;">
                  <td style="width: 14%;height: 24px;">
                    <a
                      href="https://govtjobguru.in/jobs/opsc-judicial-service-examination-2018/"
                    >
                      <img
                        width="108"
                        height="98"
                        src="https://171036-495725-raikfcquaxqncofqfm.stackpathdns.com/wp-content/uploads/2018/09/OPSC.jpg"
                        class=" wp-post-image"
                        alt=""
                        itemprop="image"
                    /></a>
                  </td>
                  <td style="width: 85%;height: 24px;text-align: left;">
                    <a
                      href="https://govtjobguru.in/heavy-water-board/232448/"
                      title="Heavy Water Board UDC Written Test Result 2019 – Download Here"
                      >Heavy Water Board UDC Written Test Result 2019 – Download
                      Here</a
                    >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
