<section class="job-bg page job-details-page">
  <div class="container" *ngIf="jobDetails != undefined; else loaderBlock">
    <div class="breadcrumb-section">
      <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li><a routerLink="/job-list">Job Details</a></li>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title">{{ jobDetails?.category }}</h2>
    </div>
    <!-- breadcrumb -->
    <!-- banner-form -->

    <div class="job-details">
      <div class="section job-ad-item">
        <div class="item-info">
          <!-- <div class="item-image-box">
            <div class="item-image">
              <img src="assets/images/job/default.png" alt="Image" class="img-fluid" />
            </div>
          </div> -->
          <!-- item-image -->

          <div class="ad-info">
            <span
              ><span
                ><a class="title">{{ jobDetails?.category }}</a></span
              >
              @ <a>{{ jobDetails?.companyName }}</a></span
            >
            <div class="ad-meta">
              <ul>
                <li>
                  <a
                    ><i class="fa fa-map-marker" aria-hidden="true"></i
                    >{{ jobDetails?.city }} ,{{ jobDetails?.state }}
                  </a>
                </li>
                <li>
                  <a
                    ><i class="fa fa-clock-o" aria-hidden="true"></i
                    >{{ jobDetails?.jobType | titlecase }}</a
                  >
                </li>
                <li
                  *ngIf="
                    jobDetails?.minSalary != 0 || jobDetails?.maxSalary != 0
                  "
                >
                  <i class="fa fa-money" aria-hidden="true"></i
                  >{{ jobDetails?.minSalary | currency: "INR":"symbol":"1.0" }}
                  -
                  {{ jobDetails?.maxSalary | currency: "INR":"symbol":"1.0" }}
                </li>
                <li *ngIf="jobDetails?.jobDeadLine != undefined">
                  <i class="fa fa-hourglass-start" aria-hidden="true"></i
                  >Application Deadline :
                  {{
                    jobDetails?.jobDeadLine != undefined
                      ? jobDetails?.jobDeadLine
                      : "ASAP"
                  }}
                </li>
              </ul>
            </div>
            <!-- ad-meta -->
          </div>
          <!-- ad-info -->
        </div>
        <!-- item-info -->
        <div class="social-media">
          <div class="button">
            <a
              class="btn btn-primary"
              href="{{ jobDetails?.applyUrl }}"
              target="_blank"
              ><i class="fa fa-briefcase" aria-hidden="true"></i>Apply For This
              Job</a
            >
          </div>
          <share-buttons
            [include]="['facebook', 'twitter', 'linkedin', 'whatsapp']"
            [description]="jobDetails?.title"
            [tags]="'Jobs'"
            [show]="5"
            [url]="url"
            [autoSetMeta]="true"
          ></share-buttons>
        </div>
      </div>
      <!-- job-ad-item -->
      <div class="advertisement text-center ad-padding">
        <app-google-ad></app-google-ad>
      </div>
      <div class="job-details-info">
        <div class="row">
          <div class="col-md-8">
            <div class="section job-description">
              <div class="description-info">
                <h1>Job Title</h1>
                <p>
                  <span>{{ jobDetails?.title }}</span>
                </p>
              </div>
              <div class="description-info">
                <h1>Description</h1>
                <p>
                  <span>{{ jobDetails?.description }}</span>
                </p>
              </div>
              <div class="advertisement text-center">
                <app-google-ad></app-google-ad>
              </div>
              <div class="responsibilities">
                <h1>Key Responsibilities</h1>
                <p [innerHTML]="jobDetails?.function"></p>
              </div>
              <div class="requirements">
                <h1>Minimum Requirements</h1>
                <p [innerHTML]="jobDetails?.requirements"></p>
              </div>
            </div>
            <div class="advertisement text-center">
              <app-google-ad></app-google-ad>
            </div>
          </div>
          <div class="col-md-4">
            <div class="section job-short-info">
              <h1>Short Info</h1>
              <ul>
                <li>
                  <span class="icon"
                    ><i class="fa fa-bolt" aria-hidden="true"></i></span
                  >Posted:
                  {{ jobDetails?.createdAt | date: "mediumDate" }}
                </li>
                <li>
                  <span class="icon"
                    ><i class="fa fa-industry" aria-hidden="true"></i></span
                  >Industry:
                  <a>{{ jobDetails?.industry }}</a>
                </li>
                <li>
                  <span class="icon"
                    ><i class="fa fa-line-chart" aria-hidden="true"></i></span
                  >Experience:
                  <a>{{ jobDetails?.experience }}</a>
                </li>
              </ul>
            </div>
            <div class="section company-info">
              <h1>Company Info</h1>
              <ul>
                <li>
                  Compnay Name: <a>{{ jobDetails?.companyName }}</a>
                </li>
                <li *ngIf="jobDetails?.address != ''">
                  Address:{{ jobDetails?.address }}
                </li>
                <li *ngIf="jobDetails?.companySize != 0">
                  Compnay SIze: {{ jobDetails?.companySize }} Employee
                </li>
                <li>
                  Industry: <a> {{ jobDetails?.industry }}</a>
                </li>
                <li *ngIf="jobDetails?.mobileNumber != ''">
                  Phone: {{ jobDetails?.mobileNumber }}
                </li>
                <li *ngIf="jobDetails?.email != ''">
                  Email:
                  <a
                    ><span
                      class="__cf_email__"
                      data-cfemail="d4bdbab2bb94b0a6bba4b6bbacfab7bbb9"
                    >
                      {{ jobDetails?.email }}</span
                    ></a
                  >
                </li>
                <li>
                  Website: <a> {{ jobDetails?.companySite }}</a>
                </li>
              </ul>
              <share-buttons
                [include]="['facebook', 'twitter', 'linkedin', 'whatsapp']"
                [description]="jobDetails?.title"
                [tags]="'Jobs'"
                [show]="5"
                [url]="url"
                [autoSetMeta]="true"
              ></share-buttons>
            </div>
          </div>
        </div>
        <!-- row -->
      </div>
      <!-- job-details-info -->
    </div>
    <!-- job-details -->
  </div>
  <ng-template #loaderBlock>
    <app-loader></app-loader>
  </ng-template>
  <!-- container -->
</section>
<!-- job-details-page -->

<section
  id="something-sell"
  class="clearfix parallax-section"
  *ngIf="currentUser && currentUser?.user?.role === 'Student'"
>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 text-center">
        <h2 class="title">Add your resume and let your next job find you.</h2>
        <h4>Post your Resume for free on <a>quikresults.com</a></h4>
        <a routerLink="/post-resume" class="btn btn-primary">Add Your Resume</a>
      </div>
    </div>
    <!-- row -->
  </div>
  <!-- contaioner -->
</section>
<!-- something-sell -->
