<section class=" job-bg ad-details-page">
  <div class="container">
    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <option><a routerLink="/home">Home</a></option>
        <option>Job Post</option>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title">Post Your Job</h2>
    </div>
    <!-- banner -->

    <div class="job-postdetails">
      <div class="row">
        <div class="col-lg-8">
          <form [formGroup]="jobForm" (ngSubmit)="postJob(jobForm.value)">
            <fieldset>
              <div class="section postdetails">
                <h4>
                  Post Your Job<span class="pull-right"
                    >* Mandatory Fields</span
                  >
                </h4>
                <div class="row form-group add-title">
                  <label class="col-sm-3 label-title">Job Category</label>
                  <div class="col-sm-9">
                    <select class="form-control" formControlName="category">
                      <option value="" selected>Select a category</option>
                      <option>Software Engineer</option>
                      <option>Program Development</option>
                      <option>Project Manager</option>
                      <option>Graphics Designer</option>
                      <div
                        *ngIf="
                          f.category.errors &&
                          (f.category.dirty || f.category.touched)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.category.errors.required">
                          Category is required
                        </div>
                      </div>
                    </select>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3"
                    >Job Type<span class="required">*</span></label
                  >
                  <div class="col-sm-9 user-type">
                    <input
                      type="radio"
                      value="full-time"
                      id="full-time"
                      formControlName="jobType"
                    />
                    <label for="full-time">Full Time</label>
                    <input
                      type="radio"
                      value="part-time"
                      id="part-time"
                      formControlName="jobType"
                    />
                    <label for="part-time">Part Time</label>
                    <input
                      type="radio"
                      value="freelance"
                      id="freelance"
                      formControlName="jobType"
                    />
                    <label for="freelance">Freelance</label>
                    <input
                      type="radio"
                      value="contract"
                      id="contract"
                      formControlName="jobType"
                    />
                    <label for="contract">Contract</label>
                    <div
                      *ngIf="
                        f.jobType.errors &&
                        (f.jobType.dirty || f.jobType.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.jobType.errors.required">
                        Job Type is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title"
                    >Title for your job<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="ex, Human Resource Manager"
                      formControlName="title"
                    />
                    <div
                      *ngIf="
                        f.title.errors && (f.title.dirty || f.title.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.title.errors.required">
                        Title is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title"
                    >Apply Url For Job<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      class="form-control"
                      placeholder="ex, Human Resource Manager"
                      formControlName="applyUrl"
                    />
                    <div
                      *ngIf="
                        f.applyUrl.errors && (f.applyUrl.dirty || f.applyUrl.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.applyUrl.errors.required">
                        Apply Url is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group item-description">
                  <label class="col-sm-3 label-title"
                    >Minimum Requirements<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <textarea
                      class="form-control"
                      id="textarea"
                      placeholder="Write minimum requirements for your jobs"
                      rows="8"
                      formControlName="requirements"
                    ></textarea>
                    <div
                      *ngIf="
                        f.requirements.errors &&
                        (f.requirements.dirty || f.requirements.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.requirements.errors.required">
                        Minimum  Requirements is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group item-description">
                  <label class="col-sm-3 label-title"
                    >Description<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <textarea
                      class="form-control"
                      id="textarea"
                      placeholder="Write few lines about your jobs"
                      rows="8"
                      formControlName="description"
                    ></textarea>
                    <div
                      *ngIf="
                        f.description.errors &&
                        (f.description.dirty || f.description.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.description.errors.required">
                        Description is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row characters">
                  <div class="col-sm-9 col-sm-offset-3">
                    <p>5000 characters left</p>
                  </div>
                </div>
                <div class="row form-group add-title location">
                  <label class="col-sm-3 label-title"
                    >Location<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <div class="pull-left col-sm-6">
                      <select class="form-control" formControlName="country">
                        <option value="" selected>Select a Country</option>
                        <option>Argentina</option>
                        <option>Australia</option>
                        <option>Belgium</option>
                        <option>Brazil</option>
                        <option>Cambodia</option>
                        <div
                          *ngIf="
                            f.country.errors &&
                            (f.country.dirty || f.country.touched)
                          "
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.country.errors.required">
                            Country is required
                          </div>
                        </div>
                      </select>
                    </div>
                    <div class="pull-right col-sm-6">
                      <select class="form-control" formControlName="state">
                        <option value="" selected>Select a State</option>
                        <option>State 1</option>
                        <option>State 2</option>
                        <option>State 3</option>
                        <div
                          *ngIf="
                            f.state.errors && (f.state.dirty || f.state.touched)
                          "
                          class="invalid-feedback"
                        >
                          <div *ngIf="f.coustatentry.errors.required">
                            State is required
                          </div>
                        </div>
                      </select>
                    </div>
                  </div>
                </div>
                <div class="row form-group select-price">
                  <label class="col-sm-3 label-title"
                    >Salary<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <label>$USD</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Min"
                      formControlName="minSalary"
                    />
                    <span>-</span>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Max"
                      formControlName="maxSalary"
                    />
                    <input
                      type="radio"
                      value="negotiable"
                      id="negotiable"
                      formControlName="maxSalary"
                    />
                    <label for="negotiable">Negotiable </label>
                    <div
                      *ngIf="
                        f.maxSalary.errors &&
                        (f.maxSalary.dirty || f.maxSalary.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.maxSalary.errors.required">
                        Max Salary is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group add-title">
                  <label class="col-sm-3 label-title"
                    >Salary Type<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <select class="form-control" formControlName="salaryType">
                      <option value="" selected>Select Salary Type</option>
                      <option><a>Per Hour</a></option>
                      <option><a>Daily</a></option>
                      <option><a>Monthly</a></option>
                      <option><a>Yearly</a></option>
                      <div
                        *ngIf="
                          f.salaryType.errors &&
                          (f.salaryType.dirty || f.salaryType.touched)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.salaryType.errors.required">
                          Salary Type is required
                        </div>
                      </div>
                    </select>
                  </div>
                </div>
                <div class="row form-group add-title">
                  <label class="col-sm-3 label-title"
                    >Experience<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <select
                      formControlName="experience"
                      class="category-change form-control"
                    >
                      <option value="" selected>Select Experience</option>
                      <option value=""><a>Entry Level</a></option>
                      <option><a>Mid Level</a></option>
                      <option><a>Mid-Senior Level</a></option>
                      <option><a>Top Level</a></option>
                      <div
                        *ngIf="
                          f.experience.errors &&
                          (f.experience.dirty || f.experience.touched)
                        "
                        class="invalid-feedback"
                      >
                        <div *ngIf="f.experience.errors.required">
                          Experience is required
                        </div>
                      </div>
                    </select>
                  </div>
                </div>
                <div class="row form-group brand-name">
                  <label class="col-sm-3 label-title">
                    Key Responsibilities:<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <!-- <input
                      type="text"
                      class="form-control"
                      placeholder="human, reosurce, job, hrm"
                      formControlName="function"
                    /> -->
                    <div id="editparent">
                      <div
                        id="editControls"
                        style="text-align:center;"
                      >
                        <div class="btn-group">
                          <a class="btn" data-role="undo"
                            ><i class="icon-undo"></i
                          ></a>
                        </div>
                        <div class="btn-group">
                          <a
                            class="btn"
                            data-role="insertUnorderedList"
                            ><i class="fa fa-user"></i></a>
                          <a class="btn" data-role="insertOrderedList"
                            ><i class="icon-list-ol"></i
                          ></a>
                        </div>
                      </div>
                      <div id="editor" style="" contenteditable >
                        <p>
                         amet, consectetur adipisicing
                          elit. Necessitatibus natus vero voluptatem aliquam
                          molestias dicta aperiam dignissimos laudantium
                          accusamus saepe!
                        </p>
                      </div>
                    </div>
                    <div
                      *ngIf="
                        f.function.errors &&
                        (f.function.dirty || f.function.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.function.errors.required">
                        Key Responsibilities is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group brand-name">
                  <label class="col-sm-3 label-title"
                    >Application Deadline<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <input
                      type="date"
                      class="form-control"
                      placeholder="human, reosurce, job, hrm"
                      formControlName="jobDeadLine"
                    />
                    <div
                      *ngIf="
                        f.jobDeadLine.errors &&
                        (f.jobDeadLine.dirty || f.jobDeadLine.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.jobDeadLine.errors.required">
                        Job DeadLine is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- postdetails -->

              <div class="section company-information">
                <h4>Company Information</h4>
                <div class="row form-group">
                  <label class="col-sm-3 label-title"
                    >Industry<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="Marketing and Advertising"
                      formControlName="industry"
                    />
                    <div
                      *ngIf="
                        f.industry.errors &&
                        (f.industry.dirty || f.industry.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.industry.errors.required">
                        Industry is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title"
                    >Company Name<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="ex, Jhon Doe"
                      formControlName="companyName"
                    />
                    <div
                      *ngIf="
                        f.companyName.errors &&
                        (f.companyName.dirty || f.companyName.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.companyName.errors.required">
                        Company Name is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title"
                    >Company Size<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="ex, 10,200"
                      formControlName="companySize"
                    />
                    <div
                      *ngIf="
                        f.companySize.errors &&
                        (f.companySize.dirty || f.companySize.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.companySize.errors.required">
                        Company Size is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title"
                    >Web Site<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="name"
                      class="form-control"
                      placeholder="ex, www.example.com"
                      formControlName="companySite"
                    />
                    <div
                      *ngIf="
                        f.companySite.errors &&
                        (f.companySite.dirty || f.companySite.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.companySite.errors.required">
                        Company Web Site is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title">Email ID</label>
                  <div class="col-sm-9">
                    <input
                      type="email"
                      name="email"
                      class="form-control"
                      placeholder="ex, jhondoe@mail.com"
                      formControlName="email"
                    />
                    <div
                      *ngIf="
                        f.email.errors && (f.email.dirty || f.email.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.email.errors.required">
                        Email is required
                      </div>
                      <div *ngIf="f.email.errors.email">
                        Email must be a valid email address
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group">
                  <label class="col-sm-3 label-title"
                    >Mobile Number<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="mobileNumber"
                      class="form-control"
                      placeholder="ex, +912457895"
                      formControlName="mobileNumber"
                    />
                    <div
                      *ngIf="
                        f.mobileNumber.errors &&
                        (f.mobileNumber.dirty || f.mobileNumber.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.mobileNumber.errors.required">
                        Mobile Number is required
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row form-group address">
                  <label class="col-sm-3 label-title"
                    >Address<span class="required">*</span></label
                  >
                  <div class="col-sm-9">
                    <input
                      type="text"
                      name="address"
                      class="form-control"
                      placeholder="ex, alekdera House, coprotec, usa"
                      formControlName="address"
                    />
                    <div
                      *ngIf="
                        f.address.errors &&
                        (f.address.dirty || f.address.touched)
                      "
                      class="invalid-feedback"
                    >
                      <div *ngIf="f.address.errors.required">
                        Address is required
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!-- section -->

              <!-- <div class="section">
                <h4>Make Your Post Premium</h4>
                <p>
                  More replies means more interested buyers. With lots of
                  interested buyers, you have a better chance of selling for the
                  price that you want.<a>Learn more</a>
                </p>
                <select class="premium-options">
                  <option class="premium">
                    <input
                      type="radio"
                      name="premiumOption"
                      value="day-one"
                      id="day-one"
                    />
                    <label for="day-one">Regular Post</label>
                    <span>$20.00</span>
                  </option>
                  <option class="premium">
                    <input
                      type="radio"
                      name="premiumOption"
                      value="day-two"
                      id="day-two"
                    />
                    <label for="day-two">Regular Post</label>
                    <span>$30.00</span>
                  </option>
                  <option class="premium">
                    <input
                      type="radio"
                      name="premiumOption"
                      value="day-three"
                      id="day-three"
                    />
                    <label for="day-three">Top Post for 7 days</label>
                    <span>$50.00</span>
                  </option>
                  <option class="premium">
                    <input
                      type="radio"
                      name="premiumOption"
                      value="day-four"
                      id="day-four"
                    />
                    <label for="day-four">Daily Bump Up for 7 days</label>
                    <span>$100.00</span>
                  </option>
                </select>
              </div> -->
              <!-- section -->

              <div class="checkbox section agreement">
                <label for="send">
                  <input
                    type="checkbox"
                    name="send"
                    id="send"
                    formControlName="terms"
                  />
                  You agree to our <a>Terms of Use</a> and
                  <a>Privacy Policy</a> and acknowledge that you are the
                  rightful owner of this item and using Jobs to find a genuine
                  buyer.

                  <div
                    *ngIf="f.terms.errors && (f.terms.dirty || f.terms.touched)"
                    class="invalid-feedback"
                  >
                    <div *ngIf="f.terms.errors.required">
                      Please Accept Terms And Conditions
                    </div>
                  </div>
                </label>
                <button
                  type="submit"
                  class="btn btn-primary"
                  [disabled]="jobForm.invalid"
                >
                  Post Your Job
                </button>
              </div>
              <!-- section -->
            </fieldset>
          </form>
          <!-- form -->
        </div>

        <!-- quick-rules -->
        <div class="col-lg-4">
          <div class="section quick-rules">
            <h4>Quick rules</h4>
            <p class="lead">
              Posting an ad on <a>jobs.com</a> is free! However, all ads must
              follow our rules:
            </p>

            <ul>
              <li>Make sure you post in the correct category.</li>
              <li>
                Do not post the same ad more than once or repost an ad within 48
                hours.
              </li>
              <li>Do not upload pictures with watermarks.</li>
              <li>
                Do not post ads containing multiple items unless it's a package
                deal.
              </li>
              <li>
                Do not put your email or phone numbers in the title or
                description.
              </li>
              <li>Make sure you post in the correct category.</li>
              <li>
                Do not post the same ad more than once or repost an ad within 48
                hours.
              </li>
              <li>Do not upload pictures with watermarks.</li>
              <li>
                Do not post ads containing multiple items unless it's a package
                deal.
              </li>
            </ul>
          </div>
        </div>
        <!-- quick-rules -->
      </div>
      <!-- photos-ad -->
    </div>
  </div>
  <!-- container -->
</section>
<!-- main -->
