<section class="clearfix job-bg  ad-profile-page">
  <div class="container" *ngIf="userDetails != undefined;else loaderBlock">
    <div class="breadcrumb-section">
      <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li>Profile Details</li>
      </ol>
      <h2 class="title">My Profile</h2>
    </div>
    <!-- breadcrumb-section -->
    <app-user-info></app-user-info>
    <!-- ad-profile -->

    <div class="profile job-profile">
      <div class="user-pro-section">
        <!-- profile-details -->
        <div class="profile-details section">
          <h2>Profile Details</h2>
          <form
            [formGroup]="profileUpdate"
            *ngIf="userDetails"
            (ngSubmit)="updateProfile()"
          >
            <div class="form-group">
              <label>name</label>
              <input
                type="text"
                class="form-control"
                formControlName="name"
                placeholder="Jhon Doe"
              />
            </div>

            <div class="form-group">
              <label>Email ID</label>
              <input
                type="email"
                class="form-control"
                placeholder="jhondoe@mail.com"
                formControlName="email"
              />
            </div>

            <div class="form-group">
              <label>Mobile</label>
              <input
                type="text"
                class="form-control"
                placeholder="+213 1234 56789"
                formControlName="mobileNumber"
              />
            </div>
<!--
            <div class="form-group">
              <label>Your City</label>
              <select class="form-control" formControlName="city">
                <option value="Los Angeles, USA">Los Angeles, USA</option>
                <option value="Dhaka, BD">Dhaka, BD</option>
                <option value="Shanghai">Shanghai</option>
                <option value="Karachi">Karachi</option>
                <option value="Beijing">Beijing</option>
                <option value="Lagos">Lagos</option>
                <option value="Delhi">Delhi</option>
                <option value="HYd">HYd</option>
                <option value="Rio de Janeiro">Rio de Janeiro</option>
              </select>
            </div> -->

            <div class="form-group">
              <label>You are a</label>
              <select class="form-control" formControlName="role">
                <option value="Employee">Employer</option>
                <option value="Employe">Employee</option>
              </select>
            </div>
            <div class="buttons">
              <button class="btn btn-primary" type="submit">
                Update Profile
              </button>
            </div>
          </form>
        </div>
        <!-- profile-details -->

        <!-- change-password -->
        <div class="change-password section">
          <h2>Change password</h2>
          <!-- form -->
          <form [formGroup]="changePassword">
            <div class="form-group">
              <label>Old Password</label>
              <input
                type="password"
                class="form-control"
                formControlName="oldPassword"
              />
            </div>

            <div class="form-group">
              <label>New password</label>
              <input
                type="password"
                class="form-control"
                formControlName="newPassword"
              />
            </div>

            <div class="form-group">
              <label>Confirm password</label>
              <input
                type="password"
                class="form-control"
                formControlName="confirm_password"
              />
            </div>
            <div class="buttons">
              <button class="btn btn-primary" type="button" (click)="passwordChange()">
                Change Password
              </button>
            </div>
          </form>
        </div>
        <!-- change-password -->

        <!-- preferences-settings -->
        <div class="preferences-settings section">
          <!-- <h2>Preferences Settings</h2>
          <div class="checkbox">
            <label
              ><input type="checkbox" name="logged" />Comments are enabled on my
              Resume</label
            >
            <label
              ><input type="checkbox" name="receive" />I want to receive
              newsletter.</label
            >
            <label
              ><input type="checkbox" name="want" />I want to receive advice on
              portfolio</label
            >
          </div>

          <div class="buttons">
            <a class="btn">Update Profile</a>
            <a class="btn cancle">Cancle</a>
          </div> -->
        </div>
        <!-- preferences-settings -->
      </div>
      <!-- user-pro-edit -->
    </div>
  </div>
  <!-- container -->
  <ng-template #loaderBlock>
    <app-loader></app-loader>
  </ng-template>
</section>
<!-- ad-profile-page -->
