.search-form .text-center {
  padding-top: 25px;
}
.search-form .title {
  color: #000 !important;
}
.description {
  margin-top: 40px;
  margin-bottom: 10px;
  line-height: 30px;
  font-size: 21px;
}
.findby h3 {
  font-size: 20px;
}
.job-title {
  padding: 15px;
}
.job-title a {
  font-size: 14px;
  color: #a0a0a0;
}
.job-title a i {
  font-size: 20px;
  margin-right: 10px;
}
.btn {
  text-align: left;
}
.findby {
  padding: 30px 80px 0px 80px;
}
.findby .title {
  font-weight: 500;
  font-size: 35px;
  margin-bottom: 40px;
}
.findby .card {
  margin-bottom: 35px;
}
.icon {
  text-align: -webkit-center;
  margin: 0 auto;
}
.findby img {
  padding-bottom: 25px;
}
.findby h6 {
  font-weight: 400;
  font-size: 20px;
}
.job-location{
  width: 70%;
  margin-left: 10px;
  margin-top: 30px;
  padding-bottom: 30px;
}
.bg-overlay {
  background:  url("../../assets/images/cover1.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  height: 350px;
}
.register {
  top: 50px;
}
.register h2 {
  color: #68b7df;
  font-size: 32px;
  font-weight: bold;
}
.register h4 {
  font-size: 23px;
  line-height: 33px;
  text-align: center;
}
@media(min-width: 360px)and (max-width:800px) {
  .findby h6 {
    margin-left: 0px;
    margin-top: 0px;
  }
}
