<!-- banner-section -->
<div class="banner-job">
  <div class="banner-overlay"></div>
  <div class="container text-center">
    <h1 class="title">The Easiest Way to Get Your New Job</h1>
    <h5 class="description">
      QuikResults is an India recruitment job portal, One who provide the best
      jobs in IT industry.Now you can search jobs from any where in India like
      Hyderabad,Bangalore,Chennai and many more.And one who provide the best
      recruitment portal for job search.
    </h5>
    <div class="banner-form banner-form-full job-list-form">
      <form [formGroup]="jobSearch" class="clearfix" (ngSubmit)="search()">
        <!-- category-change -->
        <div class="form-group">
          <select
            class="form-control category-dropdown"
            formControlName="category"
          >
            <option value="" selected>Job Category</option>
            <option
              *ngFor="let category of categories"
              value="{{ category.category }}"
              >{{ category.category }}</option
            >
          </select>
        </div>

        <div class="form-group">
          <select class="form-control language-dropdown" formControlName="city">
            <option value="" selected>Job Location</option>
            <option
              *ngFor="let location of locations"
              value="{{ location.city }}"
              >{{ location.city }}</option
            >
          </select>
        </div>
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Type your key words"
            formControlName="keywords"
          />
        </div>

        <button type="submit" class="btn btn-primary" value="Search">
          Search
        </button>
      </form>
    </div>
    <!-- banner-form -->
    <share-buttons
      [theme]="'modern-light'"
      [include]="['facebook', 'twitter', 'linkedin', 'whatsapp']"
      [description]="
        'QuikResults is an India recruitment job portal, One who provide the best jobs in IT industry.Now you can search jobs from any where in India like Hyderabad,Bangalore,Chennai and many more.And one who provide the best recruitment portal for job search.'
      "
      [tags]="'Jobs,'"
      [show]="5"
      [url]="'http://quikresults.in/home'"
      [autoSetMeta]="true"
    ></share-buttons>
    <!-- banner-socail -->
  </div>
  <!-- container -->
</div>
<!-- banner-section -->
<!-- Find By Jobs -->
<div class="text-center findby ">
  <h2 class="text-info title">Find jobs by location</h2>
  <div class="row">
    <div class="col-lg-3">
      <div
        class="card"
        routerLink="/job-list"
        [queryParams]="{ city: 'Hyderabad' }"
      >
        <div class="row">
          <div class="icon">
            <img
              alt="hyderabad Jobs"
              src="assets/images/jobs-in-hyderabad.png"
              title="hyderabad Jobs"
            />
            <h6 class="text-info">Hyderabad</h6>
          </div>
        </div>
      </div>
      <!-- <div
        class="card"
        routerLink="/job-list"
        [queryParams]="{ city: 'Hyderabad' }"
      >
        <div class="row">
          <div class="col-lg-6">
            <img
              src="assets/images/jobs-in-hyderabad.png"
              alt="hyderabad Jobs"
              title="hyderabad Jobs"
            />
          </div>
          <div class="col-lg-6">
            <h6 class="text-info">Hyderabad</h6>
          </div>
        </div>
      </div> -->
    </div>
    <div class="col-lg-3">
      <div
        class="card"
        routerLink="/job-list"
        [queryParams]="{ city: 'Bengaluru' }"
      >
        <div class="row">
          <div class="icon">
            <img
              class="job-location"
              src="assets/images/jobs-in-bangalore.png"
              alt="Bangalore Jobs"
              title="Bangalore Jobs"
            />
            <h6 class="text-info">Bangalore</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div
        class="card"
        routerLink="/job-list"
        [queryParams]="{ city: 'Chennai' }"
      >
        <div class="row">
          <div class="icon">
            <img
              class="job-location"
              src="assets/images/jobs-in-chennai.png"
              alt="Chennai Jobs"
              title="Chennai Jobs"
            />
            <h6 class="text-info">Chennai</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div
        class="card"
        routerLink="/job-list"
        [queryParams]="{ city: 'Mumbai' }"
      >
        <div class="row">
          <div class="icon">
            <img
              class="job-location"
              src="assets/images/jobs-in-mumbai.png"
              alt="Mumbai Jobs"
              title="Mumbai Jobs"
            />
            <h6 class="text-info">Mumbai</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-3">
      <div
        class="card"
        routerLink="/job-list"
        [queryParams]="{ city: 'Delhi' }"
      >
        <div class="row">
          <div class="icon">
            <img
              class="job-location"
              src="assets/images/jobs-in-delhi.png"
              alt="Delhi Jobs"
              title="Delhi Jobs"
            />
            <h6 class="text-info">Delhi</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div class="card" routerLink="/job-list" [queryParams]="{ city: 'Pune' }">
        <div class="row">
          <div class="icon">
            <img
              class="job-location"
              src="assets/images/jobs-in-pune.png"
              alt="Pune Jobs"
              title="Pune Jobs"
            />
            <h6 class="text-info">Pune</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div
        class="card"
        routerLink="/job-list"
        [queryParams]="{ city: 'Ahmedabad' }"
      >
        <div class="row">
          <div class="icon">
            <img
              src="assets/images/jobs-in-ahmedabad.png"
              alt="Ahmedabad Jobs"
              title="Ahmedabad Jobs"
            />
            <h6 class="text-info">Ahmedabad</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-3">
      <div
        class="card"
        routerLink="/job-list"
        [queryParams]="{ city: 'Kolkata' }"
      >
        <div class="row">
          <div class="icon">
            <img
              class="job-location"
              src="assets/images/jobs-in-kolkata.png"
              alt="Kolkata Jobs"
              title="Kolkata Jobs"
            />
            <h6 class="text-info">Kolkata</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Find By Jobs -->
<!-- ads-section -->
<div class="ad-section text-center">
  <app-google-ad></app-google-ad>
</div>
<!-- ads-section -->

<!-- register-section -->
<div class="col-lg-12 register-now">
  <img src="assets/images/cover1.jpg" alt="Employer" title="Employer" />
  <div class="col-lg-6 offset-lg-5 emply-now">
    <h2>Register now and let employers find you</h2>
    <h4>
      Since thousands of qualified professionals get contacted every day through
      quikresults, you can be the next successful candidate.
    </h4>
    <a routerLink="/sign-up" class="btn btn-primary now-rigi">
      Register For Jobs
    </a>
  </div>
</div>
<!-- register-section -->

<div class="page">
  <div class="container">
    <!-- category ad -->

    <div class="section latest-jobs-ads">
      <div class="section-title tab-manu">
        <h4>Latest Jobs</h4>
      </div>
      <div class="tab-content">
        <div class="job-ad-item" *ngFor="let job of jobs; let i = index">
          <div class="item-info">
            <!-- <div class="item-image-box">
              <div class="item-image">
                <a routerLink="/job-details"><img src="assets/images/job/default.png" alt="Image"
                    class="img-fluid" /></a>
              </div>
            </div> -->
            <!-- item-image -->
            <div class="ad-info">
              <span
                ><a (click)="jobDetailView(job)">{{ job.category }}</a> @
                <a>{{ job.companyName }}</a></span
              >
              <div class="ad-meta">
                <ul>
                  <li>
                    <a
                      ><i class="fa fa-map-marker" aria-hidden="true"></i
                      >{{ job.city }},{{ job.state }}
                    </a>
                  </li>
                  <li>
                    <a
                      ><i class="fa fa-clock-o" aria-hidden="true"></i
                      >{{ job.jobType }}
                    </a>
                  </li>
                  <li *ngIf="job.minSalary != 0 || job.maxSalary != 0">
                    <a
                      ><i class="fa fa-money" aria-hidden="true"></i
                      >{{ job.minSalary | currency: "INR":"symbol":"1.0" }} -
                      {{ job.maxSalary | currency: "INR":"symbol":"1.0" }}</a
                    >
                  </li>
                </ul>
              </div>

              <!-- ad-meta -->
            </div>

            <!-- ad-info -->
            <div class="button">
              <a
                class="btn btn-primary"
                (click)="jobDetailView(job)"
                >Apply Now</a
              >
            </div>
          </div>
          <div class="job-title">
            <a
              ><i class="fa fa-hand-o-right" aria-hidden="true"></i>
              {{ job.title }}</a
            >
          </div>
          <div *ngIf="i === 0 || i === 2">
            <app-google-ad></app-google-ad>
          </div>
          <!-- item-info -->
        </div>
        <!-- ad-item -->
      </div>
      <!-- tab-content -->
    </div>
    <!-- trending ads -->
    <app-google-ad></app-google-ad>
  </div>
  <!-- ad-section -->
  <!-- conainer -->
</div>
<!-- page -->
