<div class="banner-job">
  <div class="banner-overlay"></div>
  <div class="container text-center">
    <h1 class="title">The Easiest Way to Get Your New Job</h1>
    <h3>We offer 12000 jobs vacation right now</h3>
    <div class="banner-form">
      <form action="#" class="clearfix">
        <input
          type="text"
          class="form-control"
          placeholder="Type your key word"
        />
        <div class="dropdown category-dropdown">
          <a data-toggle="dropdown"
            ><span class="change-text">Job Location</span>
            <i class="fa fa-angle-down"></i
          ></a>
          <ul class="dropdown-menu category-change">
            <li><a>Location 1</a></li>
            <li><a>Location 2</a></li>
            <li><a>Location 3</a></li>
          </ul>
        </div>
        <!-- category-change -->
        <button type="submit" class="btn btn-primary" value="Search">
          Search
        </button>
      </form>
    </div>
    <!-- banner-form -->

    <ul class="banner-socail list-inline">
      <li>
        <a title="Facebook"><i class="fa fa-facebook"></i></a>
      </li>
      <li>
        <a title="Twitter"><i class="fa fa-twitter"></i></a>
      </li>
      <li>
        <a title="Google Plus"><i class="fa fa-google-plus"></i></a>
      </li>
      <li>
        <a title="Youtube"><i class="fa fa-youtube"></i></a>
      </li>
    </ul>
    <!-- banner-socail -->
  </div>
  <!-- container -->
</div>
<!-- banner-section -->

<div class="page">
  <div class="container">
    <!-- category ad -->

    <div class="section latest-jobs-ads">
      <div class="section-title tab-manu">
        <h4>Latest Jobs</h4>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation">
            <a href="#hot-jobs" data-toggle="tab">Hot Jobs</a>
          </li>
          <li role="presentation">
            <a href="#recent-jobs" data-toggle="tab">Recent Jobs</a>
          </li>
          <li role="presentation">
            <a class="active" href="#popular-jobs" data-toggle="tab"
              >Popular Jobs</a
            >
          </li>
        </ul>
      </div>

      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade in" id="hot-jobs">
          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/3.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title">CTO</a> @
                  <a>Volja Events & Entertainment</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->

          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/1.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title"
                    >Project Manager</a
                  >
                  @ <a>Dominos Pizza</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->

          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/2.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title"
                    >Graphics Designer</a
                  >
                  @ <a>AOK Security</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->

          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/4.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title"
                    >Human Resource Manager</a
                  >
                  @ <a>Dropbox Inc</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->
        </div>
        <!-- tab-pane -->

        <div role="tabpanel" class="tab-pane fade in" id="recent-jobs">
          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/2.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title"
                    >Graphics Designer</a
                  >
                  @ <a>AOK Security</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->

          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/1.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title"
                    >Project Manager</a
                  >
                  @ <a>Dominos Pizza</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->

          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/4.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title"
                    >Human Resource Manager</a
                  >
                  @ <a>Dropbox Inc</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->

          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/3.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title">CTO</a> @
                  <a>Volja Events & Entertainment</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->
        </div>
        <!-- tab-pane -->

        <div
          role="tabpanel"
          class="tab-pane fade in active show"
          id="popular-jobs"
        >
          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/1.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title"
                    >Project Manager</a
                  >
                  @ <a>Dominos Pizza</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->

          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/2.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title"
                    >Graphics Designer</a
                  >
                  @ <a>AOK Security</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->

          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/3.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title">CTO</a> @
                  <a>Volja Events & Entertainment</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->

          <div class="job-ad-item">
            <div class="item-info">
              <div class="item-image-box">
                <div class="item-image">
                  <a routerLink="/job-details"
                    ><img
                      src="assets/images/job/4.png"
                      alt="Image"
                      class="img-fluid"
                  /></a>
                </div>
                <!-- item-image -->
              </div>

              <div class="ad-info">
                <span
                  ><a routerLink="/job-details" class="title"
                    >Human Resource Manager</a
                  >
                  @ <a>Dropbox Inc</a></span
                >
                <div class="ad-meta">
                  <ul>
                    <li>
                      <a
                        ><i class="fa fa-map-marker" aria-hidden="true"></i>San
                        Francisco, CA, US
                      </a>
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-clock-o" aria-hidden="true"></i>Full
                        Time</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-money" aria-hidden="true"></i>$25,000 -
                        $35,000</a
                      >
                    </li>
                    <li>
                      <a
                        ><i class="fa fa-tags" aria-hidden="true"></i>HR/Org.
                        Development</a
                      >
                    </li>
                  </ul>
                </div>
                <!-- ad-meta -->
              </div>
              <!-- ad-info -->
              <div class="button">
                <a class="btn btn-primary">Apply Now</a>
              </div>
            </div>
            <!-- item-info -->
          </div>
          <!-- ad-item -->
        </div>
        <!-- tab-pane -->
      </div>
      <!-- tab-content -->
    </div>
    <!-- trending ads -->

    <div class="ad-section text-center">
      <!-- <a><img src="assets/images/ads/3.jpg" alt="Image" class="img-fluid"/></a> -->
    </div>
    <!-- ad-section -->


    <!-- workshop-traning -->


    <!-- cta -->
  </div>
  <!-- conainer -->
</div>
<!-- page -->
