<!-- delete-page -->
<section class="clearfix job-bg delete-page">
  <div class="container">
    <div class="breadcrumb-section">
      <!-- breadcrumb -->
      <ol class="breadcrumb">
        <li><a routerLink="/home">Home</a></li>
        <li>Close account</li>
      </ol>
      <!-- breadcrumb -->
      <h2 class="title">Close Account</h2>
    </div>
    <!-- banner -->

    <app-user-info></app-user-info>
    <!-- ad-profile -->

    <div class="close-account text-center">
      <div class="delete-account section">
        <h2>Delete Your Account</h2>
        <h4>Are you sure, you want to delete your account?</h4>
        <a class="btn" (click)="deleteClose()">Delete Account</a>
        <a class="btn cancle" routerLink="/profile">Cancle</a>
      </div>
    </div>
  </div>
  <!-- container -->
</section>
<!-- delete-page -->
